{% extends 'base.html' %}
{% block title %}{{ post.title }}{% endblock %}
{% block content %}
    <div>
    <h2>{{ post.title }}</h2>
    <br>
        {% if post.user.id == request.user.id %}
            <a href="{% url 'crud:delete' post.id %}" class="btn btn-danger">Delete</a>
            <a href="{% url 'crud:update' post.id %}" class="btn btn-info">Update</a>
        {% endif %}
    <p>{{ post.body }}</p>
    <small>{{ post.created }}</small>
    <br>
    <a href="{% url 'account:profile' post.user.id %}">{{ post.user }}</a>
    </div>
{% endblock %}